@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

* {
  font-family: "Geist", sans-serif;
}

/* Prevent horizontal scroll on mobile */
html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
